
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Susy
@import "bower_components/susy/sass/susy";

.container { @include container(90%); }
.cl1 { @include span(40%); }

.user_card {
  @include span(28%);
  border: 1px gray solid;
  border-radius: 0.5em;
  margin-bottom: 1em;
  padding: 1em;
}

nav {
  #logo{

  }

  ul {
    list-style: none;
    li {
      display: inline-block;
      border: 1px gray solid;
      padding: .5em 1em;
      margin: .5em 1em;
      border-radius: 0.5em;
      a {
        color: $text-color;
        text-decoration-style: none;

        font-size: 2em;
      }

      a:hover {
        text-decoration: none;
        color: $text-color;
      }
    }
  }
}
