
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Susy
@import "bower_components/susy/sass/susy";

.container { @include container(90%); }
.cl1 { @include span(40%); }

.user_card {
  @include span(44%);
  border: 1px gray solid;
  border-radius: 0.5em;
  margin-bottom: 1em;
  padding: 1em;
}

.post_card {
  @include span(100%);
  border: 1px gray solid;
  border-radius: 0.5em;
  margin-bottom: 1em;
  padding: 1em;
}

.post_body {
  font-size: 1.5em;
}

.sub_title {
  display: block;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.5em;
}

nav {
  #logo{

  }

  ul {
    list-style: none;
    li {
      display: inline-block;
      border: 1px gray solid;
      padding: .5em 1em;
      margin: .5em 1em;
      border-radius: 0.5em;
      a {
        color: $text-color;
        text-decoration-style: none;

        font-size: 1em;
      }

      a:hover {
        text-decoration: none;
        color: $text-color;
      }
    }
  }
}

form {
  border: 1px gray solid;
  border-radius: 1em;
  margin: 1em auto;
  .form_control {
    margin: 1em;

    label {
      display: block;
    }

    .input_size {
      width: 30em;
      padding: 0.2em 1em;
    }
    
    .submit_size {
      width: 10em;
    }
  }
}

.errors {
  color: red;
  
}
